<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap"  sendTimeout="12:00:00" />
        <binding name="BasicHttpBinding_IPackagesExecutionService" sendTimeout="12:00:00" />
        <binding name="WsIntegradorSoap" sendTimeout="12:00:00"/>
      </basicHttpBinding>
    </bindings>
    <client>

      <!-- Servicios de ETL -->

      <endpoint address="http://dc2tvdetl1:3078/PackagesExecutionService.svc"
             binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackagesExecutionService"
              contract="IPackagesExecutionService" name="BasicHttpBinding_IPackagesExecutionService" />

      <!--
				<endpoint address="http://pru-etlrptui01:3077/PackagesExecutionService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPackagesExecutionService"
               contract="IPackagesExecutionService" name="BasicHttpBinding_IPackagesExecutionService" />
		
			-->
      <!-- Extracciones BH -->

      <endpoint address="http://pru-aplnetui01:3078/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceSoap"
                name="ServiceSoap" />
      <!--
				
				<endpoint address="http://dc2tvaweb6:3078/Service.asmx?WSDL" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceSoap"
                name="ServiceSoap" />
				
			<endpoint address="http://pru-aplnetui01:3065/Service.asmx" binding="basicHttpBinding"
                bindingConfiguration="ServiceSoap" contract="ServiceSoap"
                name="ServiceSoap" /> -->

      <!-- Extracciones AS400 -->

      <endpoint address="http://dc2tvaweb6:3105/WsIntegrador.asmx"
                binding="basicHttpBinding" bindingConfiguration="WsIntegradorSoap"
                contract="WsIntegradorSoap" name="WsIntegradorSoap" />



    </client>
  </system.serviceModel>
  <appSettings>
    <add key="mssqlServer" value="DC2TVDSQL4\SQL2019,61963"/>
    <add key="mssqlUser" value="sai_admin"/>
    <add key="mssqlPwd" value="7kYWAZj7No-aN7S"/>
    <add key="mssqlDatabase" value="SAI"/>
    <add key="IntervaloMilisegundos" value="20000" />
    <!-- JMP OPTIMIZACION COMJSN 
    <add key="as400COMJSNConnectionString" value="Data Source=10.138.48.27;User ID=USRSAIPROD;Password=q1w2e3r4t5;Provider=IBMDA400.DataSource.1;"/>
    -->
  </appSettings>
</configuration>